body {
  padding-top: 3.5rem;
  font-family: "Nunito", sans-serif;
}

a:link {
  text-decoration: none; 
}


.jumbotron {
  background-color: #fff;
}


footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}


#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;    
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: green;
}


#admin {
  color: green; 
}

h1 {
  font-size: 350%;
  font-weight: bold; 
}